body {
	background-color: #F5F5DC;
}

a {
	cursor: pointer;
}

.header-main {
	width: 100%;
	height: 120px;
	background-color: #00008d;
}

div.header-main-logo {
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

img.header-main-logo {
	height: 120px;
	width: auto;
	align-self: center;
}

h1.header-main-title {
	color: #D3D3D3;
	font-size: 40px;
	font-family: "Carter One", system-ui;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	line-height: 60px;
	padding-left: 5px;
}

.header-main-nav {
	display: flex;
	width: fit-content;
	height: 100%;
	flex-direction: row;
}

li.header-main-nav {
	font-size: 20px;
	font-family: "Carter One", system-ui;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	padding: 10px;
	margin-right: 30px;
}

ul.header-main-nav {
	width: fit-content;
	list-style: none;
	margin-left: 30px;
}

a:link, a:visited {
	text-decoration: none;
	color: #D3D3D3;
}

a:hover {
	text-decoration: underline;
	color: #D3D3D3;
}

h2.average-rents {
	font-size: 12px;
	font-family: "Carter One", system-ui;
	font-weight: 400;
	font-style: normal;
	width: fit-content;
}

div.main-images {
	position: relative;
	display: flex;
	flex-direction: row;
	margin: 100px 100px 100px 100px;
	justify-content: center;
}

img.main-image-one {
	width: 50%;
	height: auto;
}

img.main-image-two {
	width: 50%;
	height: auto;
}

div.about-background {
	position: relative;
	background-color: #D3D3D3;
	height: 25%;
	width: 75%;
	justify-content: center;
	left:12.5%
}

h1.about-background-heading {
	font-family: "Carter One", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	color: #FFFAF0;
	text-align: center;
}

div.about-textbox {
	position: relative;
	background-color: #FFFAF0;
	height: 20%;
	width: 70%;
	left: 15%;
	bottom: 10%;
}

p.about-textbox-writing {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	color: black;
	text-align: justify;
	padding: 5px 5px;
}

h2.properties {
	font-size: 35px;
	color: #00008d;
	font-family: "Carter One", system-ui;
}

td.property-list {
	text-align: left;
	height: 20px;
	width:fit-content;
	vertical-align: bottom;
	background-color: #FFFAF0;
}

th.property-list {
	text-align: left;
	height: 20px;
	width: fit-content;
	background-color: #00008d;
	color: #D3D3D3;
	font-family: "Carter One", system-ui;
}

td.average-rents {
	font-size: 20px;
	text-align: left;
	color: darkgrey;
}

div.group-codes {
	display: flex;
	align-items: center;
}

h3.group-codes {
	margin: 0;
	font-size: 20px;
	color: darkgray;	
}

h3.preferences-list {
	padding-top: 20px;
	margin: 0;
	font-size: 20px;
	color: darkgray;	
}

h1.update-preferences {
		color: #00008d;
		font-size: 35px;
		font-family: "Carter One", system-ui;
		font-weight: 400;
		font-style: normal;
		text-align: left;
}

p.update-preferences {
	font-size: 15px;
	padding-top: 10px;
}